<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pour Decisions</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=221084271285673&autoLogAppEvents=1" nonce="7hce54f2"></script>
    <div class="wrapper">
      <header>
        
        <nav class="navbar is-fixed-top is-ghost" role="navigation" aria-label="main navigation">
          <div class="navbar-brand navbar-start">
            <a class="navbar-item" href="/">
            <img src="https://i.ibb.co/K5Tvz6f/logo-2.png" alt="Pour Decisions Logo" width="112" height="28">
            </a>
          </div>
          {{#if loggedIn}}
            <a href="/dashboard">My Wineries</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <div class="navbar-right">
            <div class="navbar-item">
              <div class="buttons">
                <a href="/login" class="button is-danger">
                <strong> Log in or Create an Account</strong>
                </a>
              </div>
            </div>
          </div>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Just Sip Back and Relax! Let us do the wining.
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>