<section>
  <h2>Create New Post</h2>

  <form class="new-winery-form">
    <div>
      <label for="winery-title">Title</label>
      <input type="text" id="winery-title" name="winery-title" />
    </div>
    <div>
      <label for="post-url">Location</label>
      <input id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-url">Image</label>
      <input id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-url">Website</label>
      <input id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if wineries.length}}
<section>
  <h2>Your Wineries</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> winery-info winery-card}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
Created Wineries!
{{> winery-info winery-card}}
