<form class="edit-box">
  <h2>
    Edit Post
  </h2>
  <div class="field">
    <label class="label">Winery Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Winery Name">
    </div>
  </div>

  <div class="field">
    <label class="label">Location</label>
    <div class="control">
      <input class="input" type="location" placeholder="{{location}}">
    </div>
  </div>

  <div class="field">
    <label class="label">Website</label>
    <div class="control">
      <input class="input" type="website" placeholder="{{website}}">
    </div>
  </div>

  <div class="field">
    <label class="label">Phone Number</label>
    <div class="control">
      <input class="input" type="phone" placeholder="{{phone}}">
    </div>
  </div>

  <button class="button is-primary">Submit</button>
</form>




<div class="card">
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>