{{> winery-info winery }}
{{> comments}}
<section>
    <div class="control">
        <textarea class="textarea" value="{{comment-body}}" placeholder="Tells us about your experience!"></textarea>
        <button class="button is-primary">Submit</button>
    </div>
</section>


<script src="/javascript/comment.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="emotion-ratings.min.js"></script>
