<br>
<br>
<div>
<a href="/"> &larr; Back to wineries</a>
</div>


{{> winery-info winery }}
{{> comments winery.comments}}

{{#if loggedIn}}
<section>
    <form class="comment-form">
        <div class="control">
            <textarea name="comment-body" placeholder="Tell us about your experience!"></textarea>
            </br>
            <button class="submit m">Submit</button>
        </div>
    </form>
</section>
{{else}}
<div class="navbar-right">
              <div class="navbar-item">
                <div class="buttons">
                  <a href="/login" class="button is-danger">
                    <strong> Log in to leave a review!</strong>
                  </a>
                </div>
              </div>
            </div>
{{/if}}



<script src="/javascript/comment.js"></script>
