<a href="/"> &larr; Back to wineries</a>
<br>


{{> winery-info winery }}
{{> comments winery.comments}}
<section>
    <form class="comment-form">
        <div class="control">
            <textarea name="comment-body" placeholder="Tells us about your experience!"></textarea>
            <button class="submit">Submit</button>
        </div>
    </form>
</section>



<script src="/javascript/comment.js"></script>
